{% extends 'base.html.twig' %}


{% block title 'petit sound' %}

{% block body %}
<div class="jumbotron text-center">
<h1>extrait<h1>
<p>venez ecouter la music pour vous detentre</p>

</div>

{% endblock %}  